<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<CPU>
			<!--Required Identifier for the hardware-->
			<add key="Identifier" value="/amdcpu/0"/>
			<Sensors>
				<add key="Load total" value="load/0"/>
				<add key="Package power" value="power/0"/>
				<add key="Die temperature" value="temperature/4"/>
				<add key="Core voltage" value="voltage/0"/>
				<add key="Core clock 1" value="clock/4"/>
				<add key="Core clock 2" value="clock/5"/>
				<add key="Core clock 3" value="clock/6"/>
				<add key="Core clock 4" value="clock/7"/>
				<add key="Core clock 5" value="clock/8"/>
				<add key="Core clock 6" value="clock/9"/>
			</Sensors>
		</CPU>
		<add key="CPU" value="0" />
		<add key="Key1" value="1" />
		<add key="Key2" value="2" />
	</appSettings>
</configuration>